
.resultContainer {
	position:relative;
}

.viewThisResult {
	position:absolute;
	background:#024283;
	width: 400px;
	height: 150px;
	opacity: 0.9;
}

.resultContainer .viewThisResult {
    display: none;
}
.resultContainer:hover .viewThisResult {
    display: inline;
}

.displayPic {
	display: relative;
	width: 130px;
	height: 130px;
	padding: 10px;
	opacity: 1.0;
}

.displayText {
	position: absolute;
	left: 150px;
	top: 0px;
	opacity: 1.0;
}

.innerView {
	opacity: 1.0 !important;
}