<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<config>
	<fieldset
		name="eventsparty"
		label="COM_EVENTS_CONFIG_FIELDSET_GENERAL_LABEL"
		description="COM_EVENTS_CONFIG_FIELDSET_GENERAL_DESC"
		>
		
	</fieldset>
	<fieldset
		name="events"
		label="COM_EVENTS_CONFIG_FIELDSET_EVENTS_LABEL"
		description="COM_EVENTS_CONFIG_FIELDSET_EVENTS_DESC"
		>
		<field
			name="confirmations"
			type="radio"
			label="COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_CONFIRMATIONS_LABEL"
			description="COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_CONFIRMATIONS_DESC"
			default="0"
		>
			<option value="0">COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_CONFIRMATIONS_OPTION_AUTOMATIC</option>
			<option value="1">COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_CONFIRMATIONS_OPTION_OPENALWAYS</option>
			<option value="-1">COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_CONFIRMATIONS_OPTION_CLOSEDALWAYS</option>
		</field>
		<field
			name="waitlist"
			type="radio"
			label="COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_WAITLIST_LABEL"
			description="COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_WAITLIST_DESC"
			default="1"
		>
			<option value="1">COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_WAITLIST_OPTION_WAIT</option>
			<option value="0">COM_EVENTS_CONFIG_FIELDSET_EVENTS_FIELD_WAITLIST_OPTION_NOWAIT</option>
		</field>
		<field name="prepay"
			type="radio"
			label="COM_EVENTS_EVENT_PARAMS_PREPAY_LABEL"
			description="COM_EVENTS_EVENT_PARAMS_PREPAY_DESC"
			default="0">
			<option value="0">COM_EVENTS_EVENT_PARAMS_PREPAY_OPTION_DISABLE</option>
			<option value="1">COM_EVENTS_EVENT_PARAMS_PREPAY_OPTION_OPTIONAL</option>
			<option value="2">COM_EVENTS_EVENT_PARAMS_PREPAY_OPTION_MANDATORY</option>
		</field>
		
		<field name="paypal_currency"
			type="text"
			label="COM_EVENTS_EVENT_PARAMS_PAYPAL_CURRENCY_LABEL"
			description="COM_EVENTS_EVENT_PARAMS_PAYPAL_CURRENCY_DESC"
			default="USD"
			size="10" />
		<field name="paypal_email"
			type="email"
			label="COM_EVENTS_EVENT_PARAMS_PAYPAL_EMAIL_LABEL"
			description="COM_EVENTS_EVENT_PARAMS_PAYPAL_EMAIL_DESC"
			default="your@email.here"
			size="10" />
		<field name="paypal_sandbox"
			type="radio"
			label="COM_EVENTS_EVENT_PARAMS_PAYPAL_SANDBOX_LABEL"
			description="COM_EVENTS_EVENT_PARAMS_PAYPAL_SANDBOX_DESC"
			default="1">
			<option value="0">COM_EVENTS_EVENT_PARAMS_PAYPAL_SANDBOX_OPTION_OFF</option>
			<option value="1">COM_EVENTS_EVENT_PARAMS_PAYPAL_SANDBOX_OPTION_ON</option>
		</field>
	</fieldset>
	
	<fieldset
		name="terms"
		label="COM_EVENTS_CONFIG_FIELDSET_TERMS_LABEL"
		description="COM_EVENTS_CONFIG_FIELDSET_TERMS_DESC"
		>
		
		<field name="terms"
			type="editor"
			label="COM_EVENTS_CONFIG_FIELDSET_TERMS_FIELD_TERMS_LABEL"
			description="COM_EVENTS_CONFIG_FIELDSET_TERMS_FIELD_TERMS_DESC"
			class="inputbox"
			filter="safehtml"
			buttons="true" />
	
	</fieldset>
	
	<fieldset
		name="emails"
		label="COM_EVENTS_CONFIG_FIELDSET_EMAILS_LABEL"
		description="COM_EVENTS_CONFIG_FIELDSET_EMAILS_DESC"
		>
		
		<field name="emailregistration"
			type="editor"
			label="COM_EVENTS_CONFIG_FIELDSET_EMAILS_FIELD_REGISTRATION_LABEL"
			description="COM_EVENTS_CONFIG_FIELDSET_EMAILS_FIELD_REGISTRATION_DESC"
			class="inputbox"
			filter="safehtml"
			buttons="true" />
	
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
	
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filters="rules"
			component="com_events"
			section="component" />
	</fieldset>
</config>